/* SPDX-FileCopyrightText: 2025 Steffen Vogel <post@steffenvogel.de>
   SPDX-License-Identifier: Apache-2.0
*/

@use "~@xterm/xterm/css/xterm.css";
@use "~@picocss/pico/scss/_settings" as *;

.xterm-viewport {
    border-radius: var(#{$css-var-prefix}border-radius) !important;
}

div.xterm {
    margin-bottom: 1rem;
    padding: 0.8rem;
}